{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}
    <h1 class="jumbotron">Detaille de l'annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ advert.content }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ advert.author }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ advert.email }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ advert.state }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ advert.createdAt ? advert.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ advert.publishedAt ? advert.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <h5>Photo</h5>
    <hr>
    <div class="my-5">
        {% if advert.pictures |length == 0 %}
            <div class="alert alert-info">
                Aucune photo publié
            </div>
        {% endif %}
        {% for picture in advert.pictures %}
            <img width="300" class="img-thumbnail" src="{{ vich_uploader_asset(picture, 'file') }}"/>
        {% endfor %}
    </div>


    <a href="{{ path('advert_index') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour</a>
{% endblock %}
